/* <!-- KARTHIK GOPAGONI --> */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: black;
  font-family: "poppins", "Arial", sans-serif;
  font-weight: 300;
  font-size: 10px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.box {
  padding: 1%;
}

/* ========================================
Defaults
=========================================== */

h1 {
  margin-top: 0;
  color: black;
  font-size: 5.2rem;
  font-weight: 600;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  font-size: 3.6rem;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h3 {
  font-size: 2.2rem;
  margin-bottom: 15px;
}

.sub-heading {
  font-family: poppins, sans-serif;
  font-size: 1.8rem;
  color: black;
  margin-bottom: 15px;
  align: center;
  font-weight: normal;
}

/* ========================================
NAV-BAR
=========================================== */

.navbar {
  margin-top: 100px;
  padding-bottom: 20px;
  padding-left: 12%;
}

.navbar_list {
  position: relative;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 90px;
  z-index: 3;

  list-style: none;
}

li a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 540;
  text-transform: uppercase;
  color: black;
}

/* ========================================
HERO_SECTION
=========================================== */

.hero-section {
  margin: 50px 20px;
}

.hero-section .sub-heading {
  margin: 0px 0px;
  font-weight: 500;
  color: black;
}
.profile-rectangle {
  position: absolute;
  width: 450px;
  height: 550px;
  left: 57%;
  top: 0%;
  z-index: 1;
  background: #a3ca39;
}

.hero-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profile-image {
  display: inline;
  z-index: 10;
  /* position: relative; */
  max-width: 100%;
  height: auto;
  /* left: 60%;
  top: 5%; */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 22px 23px;
  gap: 15px;
  position: relative;
  width: 600px;
  height: auto;
  /* 
  left: 10%;
  transform: translate(-10%, -50%); */
}

.primary-btn {
  width: 152px;
  height: 44px;
  background: #a3ca39;
  border-radius: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: #ffffff;
}

/* ========================================
ABOUT-SECTION
=========================================== */

.about-section {
  /* padding-bottom: 50px; */
  padding: 50px 0px;
}

.about-flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "background-img grid-container .";
}

.background-img {
  grid-area: background-img;
}

.grid-container {
  grid-area: grid-container;
  width: 100%;
  height: 70%;
}

.background-image {
  background-image: url(./assets/bg.png);
  position: absolute;
  width: 367px;
  height: 241px;
  /* left: 0%; */
}

.text-box-1 {
  /* position: relative; */
  width: 200px;
  height: 400px;
  padding: 0px 100px;
  /* left: 8%;
  top: 3%; */
}

.text-box-1 h1 {
  font-size: 9.6rem;
  line-height: 100px;
}

.grid-container {
  display: block;
  display: grid;
  padding-top: 50px;
  padding-left: 100px;
  width: 120%;
  /* margin-top: 20px; */
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 10px;

  /* left: 55%;
  top: -70%;

  transform: translate(-50%, -50%); */
}

.timeline-1 {
  grid-area: 1 / 1 / 2 / 2;
}
.timeline-2 {
  grid-area: 2 / 1 / 3 / 2;
}

.timeline-1 h1 {
  font-size: 1.6rem;
  font-weight: 800;
}
.timeline-2 h1 {
  font-size: 1.6rem;
  font-weight: 800;
}

.timeline-1 p {
  font-size: 1.4rem;
  font-weight: 500;
}
.timeline-2 p {
  font-size: 1.4rem;
  font-weight: 500;
}

.timeline-1 h3 {
  font-size: 2.6rem;
  font-weight: 800;
  color: #a3ca39;
  line-height: 15px;
}
.timeline-2 h3 {
  font-size: 2.6rem;
  font-weight: 800;
  color: #a3ca39;
  line-height: 15px;
}

/* ========================================
WORK-SETION
=========================================== */

.work-section {
  margin-top: 50px;
}

.work-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  padding: 20px 150px;
}

.work-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 50px;
}

.work {
  padding-bottom: 50px;
}

/* .grid-work {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 80px;
  grid-row-gap: 20px;
}

.work1 {
  width: 200px;
  height: 300px;
  grid-area: 1 / 1 / 2 / 2;
}
.work2 {
  grid-area: 2 / 1 / 3 / 2;
}
.work3 {
  grid-area: 1 / 2 / 2 / 3;
}
.work4 {
  grid-area: 2 / 2 / 3 / 3;
}
.work5 {
  grid-area: 1 / 3 / 2 / 4;
}
.work6 {
  grid-area: 2 / 3 / 3 / 4;
} */

.work-section .main-heading {
  text-align: center;
  font-size: 6.2rem;
}

.work-section .sub-heading {
  width: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 90%;
  text-align: center;
  padding: 50px 0;
  font-size: 1.8rem;
}

.img-container {
  width: 160px;
  height: 160px;
  padding: 10px 10px;
}

.rectangle-2 {
  height: 40px;
  width: 25px;
  position: relative;
  top: -120%;
  left: 6%;
  background: #a3ca39;
}

.text-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: 300px;
}

.work-flex h1 {
  font-size: 2.1rem;
  padding-left: 10px;
  margin-bottom: 0;
}

.work-flex p {
  padding: 10px 10px;
  font-weight: bold;
  font-size: 1.6rem;
}

.work-flex a {
  padding: 10px 10px;
  text-decoration: none;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #a3ca39;
}

/* ========================================
ACHIEVENMENTS-SECTION
=========================================== */

.achievements-section h1 {
  font-size: 9.6rem;
  text-align: left;
  padding: 0.5em;
  padding-left: 0.5em;
  color: white;
  line-height: 100px;
}
.grid-achievement {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 60px;

  width: 42%;
  position: relative;
  left: 7.5%;
}

.achievement1 {
  grid-area: 1 / 1 / 2 / 2;
}
.achievement2 {
  grid-area: 1 / 2 / 2 / 3;
}
.achievement3 {
  grid-area: 2 / 1 / 3 / 2;
}
.achievement4 {
  grid-area: 2 / 2 / 3 / 3;
}

.rectangle-3 {
  height: 400px;
  width: 450px;
  position: absolute;
  right: 0.5%;
  background: #a3ca39;
}

.rectangle-4 {
  height: 3px;
  width: 25px;
  position: relative;
  top: -5%;
  background: #a3ca39;
}

/* .gallery {
  line-height: 0;
  -webkit-column-count: 2;
  -webkit-column-gap: 5px;
  -moz-column-count: 2;
  -moz-column-gap: 5px;
  column-count: 2;
  column-gap: 5px;
}

.gallery img {
  max-width: 100%;
  height: auto;
  margin-bottom: 5px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  max-width: 100%;
  position: absolute;
  right: 10px;

  align-items: end;
}

.gallery-img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.guitar {
  grid-area: 1 / 1 / 3 / 2;
}
.friends {
  grid-area: 1 / 2 / 2 / 3;
}
.badminton {
  grid-area: 2 / 2 / 3 / 3;
}
.painting {
  grid-area: 3 / 1 / 4 / 2;
}
.reading {
  grid-area: 3 / 2 / 4 / 3;
} */

/* ========================================
HOBBIES-SECTION
=========================================== */

.hobbies {
  margin-top: 200px;
  padding-bottom: 100px;
}

.hobbies-textbox {
  position: absolute;
  width: 550px;
  height: 400px;
  padding: 175px 110px;
}

.hobbies-textbox h1 {
  font-size: 9.6rem;
  color: #a3ca39;
}
.hobbies p {
  font-size: 1.8rem;
}
.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
  align-items: center;

  justify-content: center;

  width: 50vw;
  height: auto;

  position: relative;
  left: 50%;
}

.column {
  flex: 50%;
  -ms-flex: 50%;
  justify-content: center;
}

.column1 img {
  margin-top: 8px;
  vertical-align: middle;
}

/* ========================================
CONTACT-SECTION
=========================================== */

.rectangle-7 {
  height: 300px;
  width: 600px;
  position: absolute;
  left: 0;
  background: #a3ca39;
}

.contact-textbox {
  width: 450px;
  height: auto;

  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.rectangle-7 h3 {
  font-size: 5.6rem;
  padding-bottom: 0px;
  color: white;
}

.rectangle-7 p {
  color: white;
}

.contact .copyright {
  float: right;
  margin-top: 100px;
  padding-top: 100px;
  padding-right: 100px;
}

.contact p {
  font-size: 1.6rem;
}
